arcade >= 3.3.3
pyglet==2.0.0                     # Графика и звук
Pillow==10.0.0                    # Обработка изображений
pyrr==0.10.3                      # 3D математика
pyshaders==0.7.0                  # Шейдеры
numpy==1.24.3